apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "username": "admin",
      "password": "Eu9uQaABLHtJnhlG4udcrkOCm01e6U06",
      "verify_ssl": "false",
      "hostname": "http://localhost:8088/"
    }
