apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "hostname": "http://localhost:8088",
      "username": "admin",
      "password": "BmWTnawOjsndHYQrQC3ritxGPBPuNUBR",
      "verify_ssl": "false"
    }
